body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

#numberDisplay {
    font-size: 48px;
    margin: 20px 0;
    color: #007bff;
}

#callNumberButton {
    padding: 10px 20px;
    font-size: 22px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

#callNumberButton:hover {
    font-size: 22px;
    background-color: #0056b3;
}
